@{
    ViewData["Title"] = "Flex Pick to light Labor";
}

<style>
    :host {
        display: block;
        --app-grid-columns: 2;
        --app-grid-gutter: 2px;
    }

    ul {
        list-style: none;
    }

    .card {
        margin: 24px;
        top: 30px;
        padding: 26px;
        height: 70%;
        width: 90%;
        color: #003366;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        font-size: 24px;
    }


    img {
        float: right;
        vertical-align: middle;
    }

    a {
        text-decoration: none;
    }

    .card-title {
        text-align: left;
    }
</style>


<br />
<br />
<div class="row">
    <div class="col-sm-6">
        <button type="button" class="card" onclick="location.href='Home/Unitcreation'">
            <h1 class="card-title">Unit creation</h1>
            <img src="~/images/station1.png" />
        </button>
    </div>

    <div class="col-sm-6">
        <button type="button" id="kitting" class="card" onclick="location.href='Home/Kitting'">
            <h1 class="card-title">Kitting</h1>
            <img src="~/images/station2.png" />
        </button>
    </div>


</div>

<div class="row">

    <div class="col-sm-6">
        <button type="button" id="assembly" class="card" onclick="location.href='Home/Assembly'">
            <h1 class="card-title">Assembly</h1>
            <img src="~/images/station3.png" />
        </button>
    </div>

    <div class="col-sm-6">
        <button type="button" id="pack" class="card" onclick="location.href='Home/Pack'">
            <h1 class="card-title">Pack</h1>
            <img src="~/images/station4.png" />
        </button>
    </div>

</div>


