@{
    ViewData["Title"] = "Kitting";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<div class="card">
    <link rel="stylesheet" href="~/css/kitting.css">
    <div>
        <h1>Read the serial number of product!</h1>
        <div class="form-group">
            <textarea class="form-control" id="serialNumber" placeholder="Serial number"></textarea>
        </div>
        <div>
            <a href="#" class="btn btn-primary">Kitting</a>
        </div>
    </div>
</div>


<div class="card">
    <link rel="stylesheet" href="~/css/kitting.css">
    <div>
        <h1>BOM list:</h1>
    </div>
</div>