@{
    ViewData["Title"] = "Kitting";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<div class="card">
    <link rel="stylesheet" href="~/css/kitting.css">
    <div>
        <h1>Read the serial number of product!</h1>
        <div class="form-group">
            <input type="text" class="form-control" id="serialNumber"  placeholder="Serial number">        
        </div>
        <div>
            <button type="button" id="kittingSNTap" onclick="kittingSNTap()" class="btn btn-secondary" >Kitting</button>
            <span id="kittinglabel"></span>
        </div>
    </div>
</div>


<div class="card">
    <link rel="stylesheet" href="~/css/kitting.css">
    <div>
        <h1>BOM list:</h1>
        <ul class="list-group" id="bomlist"></ul>
    </div>
</div>

<script src="~/js/kitting_station.js"></script>
