@{
    ViewData["Title"] = "Pack";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<style is="custom-style">

    paper-icon-item {
        margin: -13px -16px;
    }

        paper-icon-item img {
            border-radius: 50%;
        }
</style>


<div class="card">
    <link rel="stylesheet" href="~/css/pack.css" />
    <div>
        <h1>Read the serial number of product!</h1>
        <div class="form-group">
            <input type="text" class="form-control" id="packSerialNumber" placeholder="Serial number">
        </div>
        <div>
            <button type="button" id="packButton" onclick="packSNTap()" class="btn btn-secondary">Pack</button>
            <span id="packlabel"></span>
        </div>
    </div>
</div>



<script src="~/js/pack-station.js"></script>
