@{
    ViewData["Title"] = "Unit creation";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>



<div class="card">
    <link rel="stylesheet" href="~/css/unitcreation.css" />
    <div>
        <h1>Create new Product and print label with serial number</h1>
        <div class="form-group" >
            <select class="form-control" id="productSelector"></select>
        </div>
        <div>
            <button type="button" id="createSNTap" onclick="createSN()" class="btn btn-secondary" disabled>Create</button>
            <span id="responselabel"></span>
        </div>
    </div>
</div>

<script src="~/js/unit-creation-station.js"></script>

